<nav class="ui fixed stackable menu">
  <div class="ui container">
    <a href="<%= root_path %>" class="header item">
      <img class="logo" src=<%= asset_path('dog.png') %>> Kublai
    </a>
    <a class="item">
      <i class="grid layout icon"></i> Browse
    </a>
    <a class="item">
      <i class="mail icon"></i> Messages
    </a>
    <div class="ui simple dropdown item">
      More
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item"><i class="edit icon"></i> Edit Profile</a>
        <a class="item"><i class="globe icon"></i> Choose Language</a>
        <a class="item"><i class="settings icon"></i> Account Settings</a>
      </div>
    </div>
    <div class="right item">
      <div class="ui action input">
        <input type="text" placeholder="Search...">
        <button class="ui button">Search</button>
      </div>
      <% if find_current_user%>
        <%= link_to find_current_user.name.capitalize, user_path(find_current_user), class: "ui primary button" %> 
        <%= link_to "Logout", logout_path, method: "delete", class: "ui red button" %>
      <% else %>
        <%= link_to "Login", login_path, class: "ui primary button" %>
        <%= link_to "Create Account", new_user_path, class: "ui fluid red button" %> 
      <% end %>
      
    </div>
  </div>
</nav>