<%= form_for User.new, html: {class:"ui form"}  do |f| %>
  <div class="field">
    <%= f.label :name, "Choose a Username" %>
    <%= f.text_field :name, placeholder: "Username" %>
  </div>
  <div class="field">
    <%= f.label :email, "Enter Your Email" %>
    <%= f.email_field :email, placeholder: "Email" %>
  </div>
  <div class="field">
    <%= f.label :password, "Create a Password" %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Comfirm Your Password" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.submit "Submit", :class => "ui button" %>
  </div>
<% end %>