<div class="row">
	<div class="eleven wide column">

        <h1 class="ui header"><%= @user.name.capitalize %>'s Profile Page</h1>

        <h2 class="ui dividing header"><%= @user.name.capitalize %>'s Posts:</h2>
        <% if @user.posts.length > 0 %>
            <div class="ui relaxed list">
            <% @user.posts.each do |post| %>
                <div class="item ui comments" style="margin: 0!important;">
                    <div class="content comment">
                        <h3 class="header"><%= link_to post.title, post_path(post)%></h3>
                        <div class="metadata" style="margin-left: 0;">
                            <span class="date">Posted <%= time_ago_in_words(post.created_at) %>
                        </div>
                    </div>
                </div>
            <% end %>
            </div>
        <% else %>
            <p><%= @user.name.capitalize %> hasn't started any projects.</p>
        <% end %>

        <h2 class="ui dividing header"><%= @user.name.capitalize %>'s Collaborations:</h2>
        <% if @user.collaborators.length > 0 %>
            <div class="ui relaxed list">
            <% @user.collaborators.each do |collaborator| %>
                <div class="item ui comments" style="margin: 0!important;">
                    <div class="content comment">
                        <h4 class="header"><%= link_to collaborator.post.title, post_path(collaborator.post)%></h4>
                    </div>
                </div>
            <% end %>
            </div>
        <% else %>
            <p><%= @user.name.capitalize %> isn't collaborating on any projects.</p>
        <% end %>

        <h3 class="ui dividing header">Latest Comments:</h3>
        <% if @user.comments.length > 0 %>
            <div class="ui comments">
            <% @user.comments.order('created_at DESC').limit(5).each do |comment| %>
                <div class="comment">
                     <div class="content">
                        <div class="text"><%= comment.content %></div>
                        <div class="metadata" style="margin-left: 0;">
                            <span class="date"><%= comment.created_at.strftime("%b %d, %Y") %></span> in <%= link_to comment.post.title, post_path(comment.post) %>
                        </div>
                    </div>
                </div>
            <% end %>
            </div>
        <% else %>
            <p><%= @user.name.capitalize %> hasn't left any comments.</p>
        <% end %>

    </div>

    <div class="five wide column">
        <%= render "user_card" %>
	</div>

</div>