<%= form_for @post, html: {class:"ui form"} do |f| %>
  <div class="field">
    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.order("name ASC"), :id, :name, { prompt: "Select a Category" }, {class:"ui fluid search selection dropdown"} %>
  </div>
  <div class="field">
    <%= f.label :title, "Post Title" %>
    <%= f.text_field :title, placeholder: "" %>
  </div>
  <div class="field">
    <%= f.label :content, "Post Content" %>
    <%= f.text_area :content, placeholder: "" %>
  </div> 
  <div class="field">
    <%= f.submit "Submit", :class => "ui button" %>
  </div>
<% end %>