<div class="row">
	<div class="eleven wide column">

		<h1 class="ui header">
			<% if @posts.any? %>
				<%= @posts.first.category.name.capitalize %> Posts
			<% else %>
				
			<% end %>
		</h1>

		<ul class="posts-list">
			<% @posts.each do |post| %>
			<li>
				<div>
					<p>Posted by <%= link_to post.user.name.capitalize, user_path(post.user) %> 
					<%= time_ago_in_words(post.created_at) %> ago</p>
				</div>
				<h2><%= link_to post.title, post_path(post) %></h2>
				<p><%= post.comments.count %> Comments | Tags: <%= link_to post.tag.name.capitalize, "#" %></p>
			</li>
			<% end %>
		</ul>

		</div>

    <div class="five wide column">
        <% if logged_in? %>
					<p><%= link_to "Create new Post", new_post_path %></p>
				<% end %>
	</div>

</div>