<div class="row">
	<div class="eleven wide column">
		<% if @posts.any? %>
			<h1 class="ui header"><%= @posts.first.category.name.capitalize %> Posts</h1>
		<% else %>
			<h1>No Posts Found!</h1>
			<%= link_to new_post_path, class:"ui positive button" do %>
				<i class="pencil alternate icon"></i> Create First Post
			<% end %>
		<% end %>

		<ul class="posts-list">
			<% @posts.each do |post| %>
			<li>
				<div>
					<p>Posted by <%= link_to post.user.name.capitalize, user_path(post.user) %> 
					<%= time_ago_in_words(post.created_at) %> ago</p>
				</div>
				<h2><%= link_to post.title, post_path(post) %></h2>
				<p><%= post.comments.count %> Comments | Tags: <%= link_to post.tag.name.capitalize, "#" %></p>
			</li>
			<% end %>
		</ul>

		</div>

    <div class="five wide column">

		</div>

</div>