<h1><%= @post.title%></h1>
<h2><%= @post.user.name%></h2>
<% @post.tags.each do |tag|%>
    <p>Tag: <%= tag.name%></p>
<% end %>
<p><%= @post.content%></p>

<h2>Comments:</h2>
<ol>
    <% @post.comments.each do |comment| %>
        <li>
            <p><%= comment.content%> by: <%= link_to comment.user.name, user_path(comment.user)%></p>
        
        </li>
        
    <% end %>
</ol>

<h2>Add Comment</h2>
<%= form_tag "/comments" do %>
    <%= label_tag :content, "Content:" %>
    <%= text_field_tag :content %>
    
    <%= hidden_field_tag :post_id, @post.id %>

    <%= submit_tag "Create Comment"%>
<% end %>

<%= link_to "Edit", edit_post_path(@post)%>
<%= link_to "Home", posts_path %>
<%= link_to "Delete", @post, method: "delete"%>