<h1><%= @post.title%></h1>
<h2>Author: <%= @post.user.name.capitalize%></h2>
<p>Tag: <%= @post.tag.name %></p>
<p><%= @post.content%></p>

<h3>Collaborators</h3>
<ol>
	<% @post.collaborators.each do |collaborator| %>
		<li><%= link_to collaborator.user.name.capitalize, user_path(collaborator.user) %>
		<% if collaborator.user == find_current_user%>
			<%= link_to "Remove", collaborator_path(collaborator), method: "Delete"%>
		<% end %>
		</li>
	<% end %>
</ol>

<h3>Comments:</h3>
<ol>
	<% @post.comments.each do |comment| %>
	<li>
		<%= comment.content%> by: <%= link_to comment.user.name.capitalize, user_path(comment.user) %>
		<% if comment.user_id == session["user_id"] %>
			<small>
				<%= link_to "Edit Comment", edit_post_comment_path(@post, comment) %>
				<%= link_to "Delete Comment", comment_path(comment), method: "Delete", data: { confirm: 'Really delete this comment?' }  %>
			</small>
		<% end %>
	</li>  
	<% end %>
</ol>

<%= form_tag "/comments" do %>
	<%= label_tag :content, "Add Comment:" %>
	<%= text_field_tag :content %>

	<%= hidden_field_tag :post_id, @post.id %>

	<%= submit_tag "Create Comment"%>
<% end %>

<%= form_tag "/collaborator" do %>
	<%= hidden_field_tag :user_id, session["user_id"]%>
	<%= hidden_field_tag :post_id, @post.id %>
	<%= submit_tag "Collaborate!"%>
<% end %>

<ul>
<li><%= link_to "Back to Posts", posts_path %> 
<% if @post.user_id == session["user_id"] %>
	<li><%= link_to "Edit", edit_post_path(@post)%></li>
	<li><%= link_to "Delete", @post, method: "delete"%></li>
<% end %>
</ul>
