<div class="row">
	<div class="eleven wide column">

    <% @categories.each do |category| %>
    <div class="ui segment">
      <h2><%= link_to category.name.capitalize, category_path(category.name.downcase) %>
        <% if logged_in? %>
          <span class="inline-button">
          <% if category.subscribers.any?{|object| object.id == session[:user_id] } %>
            <%= link_to 'Unsubscribe', subscription_path(:id => Subscription.find_by(user_id: session[:user_id], category_id: category.id)), :method=> :delete, class: "ui fluid basic button" %>
          <% else %>
            <%= link_to 'Subscribe', subscriptions_path(:category_id => category.id, :user_id=> session[:user_id]), :method=> :post, class: "ui fluid button default" %>
          <% end %>
          </span>
        <% end %>
      </h2>
    </div>
    <% end %>

  </div>

  <div class="five wide column">
    <p><%= link_to "Back to Homepage", root_path %></p>
    <% if logged_in? %>
      <p><%= link_to "Create new Category", new_category_path %></p>
    <% end %>
	</div>

</div>