<div class="row">
	<div class="eleven wide column">

		<%= form_tag root_path, :method => 'get' do %>
			<p>
			<%= hidden_field_tag :id, session[:user_id] %>
				<%= select_tag(:search, options_for_select([['All', 1], ['Subscriptions', "subscription"]])) %>
				<%= submit_tag "Search", :name => nil %>
			</p>
		<% end %>

		<ul class="posts-list">
			<% @posts.each do |post| %>
			<li class="ui segment">
				<div>
					<p><strong><%= link_to post.category.name.capitalize, category_path(post.category.name.downcase) %></strong> • 
					Posted by <%= link_to post.user.name.capitalize, user_path(post.user) %> 
					<%= time_ago_in_words(post.created_at) %> ago</p>
				</div>
				<h2 class="ui header"><%= link_to post.title, post_path(post) %></h2>
				<p><%= post.comments.count %> Comments</p>
			</li>
			<% end %>
		</ul>

	</div>

	<div class="five wide column">
		<% if logged_in? %>
			<p><%= link_to "Create new Post", new_post_path %></p>
		<% else %>
			<!-- <p><%= link_to "Login", login_path %></p> -->
		<% end %>
	</div>

</div>