

<div class="row">
	<% if logged_in? %>
		<div class="left floated left aligned eight wide column">
			<%= link_to new_post_path, class:"ui positive button" do %>
				<i class="pencil alternate icon"></i> Create New Post
			<% end %>
		</div>
		<div class="right floated right aligned eight wide column">
			<%= form_tag root_path, :method => 'get', html: {class:"ui form"}  do %>
				<div class="field">
					<%= hidden_field_tag :id, session[:user_id] %>
					<%= select_tag(:search, options_for_select([['Show All', 1], ['Show Subscriptions', "subscription"]]), {class:"ui search selection dropdown"}) %>
					<%= submit_tag "Filter Posts", :name => nil, :class => "ui button"  %>
				</div>
			<% end %>
		</div>
	<% end %>

	<div class="sixteen wide column">
		<ul class="posts-list">
			<% @posts.each do |post| %>
			<li class="ui segment">
				<div>
					<p><strong><%= link_to post.category.name.capitalize, category_path(post.category.name.downcase) %></strong> • 
					Posted by <%= link_to post.user.name.capitalize, user_path(post.user) %> 
					<%= time_ago_in_words(post.created_at) %> ago</p>
				</div>
				<h2 class="ui header"><%= link_to post.title, post_path(post) %></h2>
				<p><%= post.comments.count %> Comments</p>
			</li>
			<% end %>
		</ul>

	</div>

</div>