<!DOCTYPE html>
<html>
  <head>
    <title>KublaiApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if find_current_user%>
      <%= link_to find_current_user.name, user_path(find_current_user)%>
      <%= link_to "Logout", logout_path, method: "delete"%>
    <% end %>
    <%= yield %>
  </body>
</html>
